body{
    background-color:rgb(32, 29, 29)
    }
    
  #v1,#v22{
    margin-left:30px;
    margin-top:10px;
    margin-bottom:2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:30px;
    color:rgb(255, 255, 255);
  }



  #v2,#v4,#v6,#v8,#v14,#v16,#v18,#v20{
    margin-left:500px;
    margin-top:10px;
    margin-bottom:2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:20px;
    color:rgb(0, 0, 0);
  }
  
  #v3,#v5,#v7,#v9,#v15,#v17,#v19,#v21{
    margin-left:800px;
    margin-top:10px;
    margin-bottom:2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:35px;
    color:rgb(133, 8, 8);
  }

  #v3:hover{
      font-size: 80px;
  }
  #v5:hover{
    font-size: 80px;
}
#v7:hover{
    font-size: 80px;
}
#v9:hover{
    font-size: 80px;
}
  
#v15:hover{
    font-size: 80px;
}
#v17:hover{
    font-size: 80px;
}
#v19:hover{
    font-size: 80px;
}
  
  #v10,#v11,#v12,#v13{
    margin-left:500px;
    margin-top:10px;
    margin-bottom:2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:20px;
    color:rgb(73, 70, 70);
  }
  
  a{
      font-size:20px;
    margin-left:30px;
    margin-bottom:20px;
  }